body {
    font-family: 'Arial', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background: linear-gradient(135deg, #113235 30%, #391568 40%, #1a5040 70%);
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    max-height: fit-content;
    top:0;
}

header .container {
    display: flex;
    align-items: center;
}

header .profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

header .navbar {
    flex-grow: 1;
}

header .navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;
}

header .navbar-nav .nav-link {
    color: #fff;
    margin-left: 15px;
    transition: color 0.3s;
}

header .navbar-nav .nav-link:hover {
    color: #ffcc00;
}

#home {
    background: url('') no-repeat center center/cover;
    color: #240505;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba()
}

.card-body {
    font-size: xx-small;
}

.card {
    transition: all 0.3s;
    height: 300px;
    width: 300px;
    margin: 40px;
}

.card:hover {
    transform: translateY(-5px);
}

.row{
    position:fixed;
    margin-bottom: 130px;
}